@font-face {
    font-family: "Roboto";
    src: url(/fonts/roboto-regular-webfont.woff) format(woff),
            url(/fonts/roboto-regular-webfont.woff2) format(woff2);
    font-weight: 400;
}

* {
    font-family: "Roboto" , sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.container {
    display: grid;
    grid-template-columns: minmax(50px, 300px) 4fr;
    grid-template-rows: 200px auto;
}

aside {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    justify-content: space-between;
    gap: 2em;
    padding: 1.2em;
    background-color: #33B3FF;
}

aside p {
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
}

.white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(203deg) brightness(105%) contrast(105%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu {
    padding: 0;
}

.side-heading, nav li, menu li {
    display: flex;
    gap: 1em;
}

.side-heading p {
    font-size: 1.4rem;
}

.side-heading img {
    width: 2.5em;
}

header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: rgba(0, 0, 0, 0.45) 0 10px 0 0 ;
    padding: 1rem 2rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search input {
    flex: 1 1 auto;
    gap: 1.5rem;
    background-color: rgb(226, 232, 240);
    border: none;
    border-radius: 50px;
}

.search button {
    appearance: none;
    background-color: #ffffff;
    border: none;
    
}

.info, .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.info p {
    font-weight: bold;
    font-size: 1.2rem;
}

#info-pfp {
    width: 2.5rem;
}

.account {
    display: grid;
    align-items: center;
    grid-template-columns: 5rem auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.account img {
    grid-area: 1 / 1 / 2 / 2;
    width: 5rem;
}

.account .greeting {
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 0.5rem;
}

.greeting p:first-child {
    margin-bottom: 0;
}

.account .user_name {
    font-size: 1.4rem;
    font-weight: bold;
}

.actions button {
    background-color: #33B3FF;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    color: white;
}

article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #F0F0F0;
    padding: 1em;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
}

img {
    width: 1.6em;
}